---
layout: default
permalink: /projects/index.html
title: Projects
---
{% include header.html %}

<section class="list">
                <a class="url" href="http://playmig.com/">

                    <h3 class="title">Unannounced Quizgame - Game made in cooperation with M.I.G.</h3>
                </a>
                <a class="url" href="http://joydrive.games">

                    <h3 class="title">Joy Drive - Take a Joy Drive!</h3>
                </a>
                <a class="url" href="http://Youbrawl.com">

                    <h3 class="title">Youbrawl - A goofy fighting game</h3>
                </a>
</section>

{% include footer.html %}
