---
layout: default
permalink: /projects/index.html
title: Projects
---
{% include header.html %}

<section class="list">
                <a class="url" href="http://flintandcharlie.com">

                    <h3 class="title">Flint and Charlie: A Galactic Pickle - A Puzzle-Platformer</h3>
                </a>
                <a class="url" href="http://Youbrawl.com">

                    <h3 class="title">Youbrawl - A goofy fighting game</h3>
                </a>
</section>

{% include footer.html %}
